* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background-color: #edf9ff;
  font-weight: bold;
}


#section0 {
  background-color: #87afc5;
  color: #edf9ff;
  padding: 55px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,.15);
}

button {
  color: #333;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,.15);
  background-color: #f5f5f5;
}

#section1 {
  text-align: center;
  padding: 100px;
}

.dropdown {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

#answer {
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#section2 {
  text-align: center;
  padding-top: 45px;
  font-size: 1.35rem;
  background-color: #87afc5;
  color: #edf9ff;
  padding-bottom: 75px;
  box-shadow: 0 -4px 6px rgba(0,0,0,.15)
}

#head {
  padding: 45px;
  background-color: #333;
  box-shadow: 0 4px 6px rgba(0,0,0,.15);
  position: relative;
  z-index: 10;
}

#question {
  font-size: 1.25rem;
}

footer {
  padding: 70px;
  background-color: #333;
  box-shadow: 0 -4px 6px rgba(0,0,0,.15);
}

div {
  padding-top: 25px;
  padding-bottom: 10px;
}

p {
  padding-bottom: 25px;
}
