* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background-color: #edf9ff;
}

#head {
  background-color: #87afc5;
  color: #edf9ff;
  padding: 40px;
  text-align: center;
}

#head h1 {
  font-size: 3rem;
}

.button {
  color: #333;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#section1 {
  text-align: center;
  padding: 90px;
}

.dropdown {
  cursor: pointer;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#answer {
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  width: 20%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#section2 {
  text-align: center;
  padding-top: 45px;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #87afc5;
  color: #edf9ff;
  padding-bottom: 100px;
}

#question {
  font-weight: bold;
  font-size: 1.25rem;
}

footer {
  padding: 100px;
  background-color: #333;
}

div {
  padding-top: 25px;
  padding-bottom: 10px;
}

p {
  padding-bottom: 35px;
}
